.App {
    text-align: center;
}

.form {
    margin-bottom: 20px;
}

.recommend-set {
    border: 1px solid #ced4da;
    height: 100%;
    border-radius: 0.25rem;
    margin-bottom: 20px;
}

.GeneratedText {
    width: 100%;
    height: 100%;
}

.SectionHint {
    margin-right: 10px;
    width: 18rem;
}

.SectionHintBody {
    display: flex;
    flex-direction: column;
}

.textSection {
    flex: 1;
}

.Candidate {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.CandidateScore {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.FormStep {
    flex-direction: column;
    border-radius: 5px;
    padding: 10px 10px 0 10px !important;
    margin-bottom: 20px;
}

.FormStepSecondPart {
    padding: 20px !important;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5px;
}

.ScriptPlay {
    display: flex;
}

.Header {
    padding: 20px;
}
