.App {
    text-align: center;
    background-color: #ffffff;
    margin: 20px;
}
.form {
    margin-bottom: 20px;
}
.recommend-set {
    border: 1px solid #ced4da;
    height: 100%;
    border-radius: 0.25rem;
    margin-bottom: 20px;
}
.GeneratedText {
    margin-top: 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
